<!DOCTYPE html>
<html lang="en">
<head>
    <title>Space</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/emails.css') }}">
</head>
<body>
<a href={{url_for("main_page")}}>Main page</a><br><br>
<p>Number of astronauts in space: {{ astronaut_count }}</p>
<table>
    <tr>
        <th>Craft</th>
        <th>Name</th>
    </tr>

    {% for astronaut in astronauts %}
        <tr>
            <td><p>{{ astronaut.craft }}</p></td>
            <td><p>{{ astronaut.name }}</p></td>
        </tr>
    {% endfor %}

</table>
</body>
</html>